/* in = index*/
.IN1{width:175px; margin-top:19px;}
.IN1 a{display:block; color:#666; padding:3px 0px 3px 20px; font-size:12px; background:url('/img/icon/arrow_4.gif') no-repeat left; text-decoration:none;}

/*LI = list*/
.LI1{color:#696969; font-weight:bold; font-size:14px; font-weight:bold; height:20px;}
.LI2{background: url('/img/icon/hr_bg_175.gif') no-repeat top left; padding-top:7px;}